<?xml version="1.0" encoding="UTF-8" ?>

<configuration debug="false">

    <!-- 控制台 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- 出错日志 appender  -->
    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 按天回滚 daily -->
            <!-- log.dir 在maven profile里配置 -->
            <fileNamePattern>D:/Backup/es/es-error-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 日志最大的历史 60天 -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- 访问日志 appender  -->
    <appender name="ACCESS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 按天回滚 daily -->
            <fileNamePattern>D:/Backup/uleehub/es-access-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 日志最大的历史 60天 -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 访问日志 appender  -->
    <appender name="SYS-USER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 按天回滚 daily -->
            <fileNamePattern>D:/Backup/es/es-sys-user-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 日志最大的历史 60天 -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- 交易成功日志 appender  -->
    <appender name="PAY-ACCESS-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 按天回滚 daily -->
            <fileNamePattern>D:/Backup/uleehub/es-pay-access-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 日志最大的历史 60天 -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>
	<!-- 交易失败日志 appender  -->
    <appender name="PAY-ERROR-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 按天回滚 daily -->
            <fileNamePattern>D:/Backup/uleehub/es-pay-erorr-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 日志最大的历史 60天 -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- 退款成功日志 appender  -->
    <appender name="REFUND-ACCESS-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 按天回滚 daily -->
            <fileNamePattern>D:/Backup/uleehub/es-refund-access-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 日志最大的历史 60天 -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>
	<!-- 退款失败日志 appender  -->
    <appender name="REFUND-ERROR-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 按天回滚 daily -->
            <fileNamePattern>D:/Backup/uleehub/es-refund-erorr-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 日志最大的历史 60天 -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="info"/>

    <!--<logger name="org.apache" level="debug">-->
        <!--<appender-ref ref="STDOUT"/>-->
    <!--</logger>-->

    <!--错误日志-->
    <logger name="es-error" level="info">
        <appender-ref ref="ERROR"/>
    </logger>
    <!--访问日志-->
    <logger name="es-access" level="info">
        <appender-ref ref="ACCESS"/>
    </logger>
    <!--系统用户操作日志-->
    <logger name="es-sys-user" level="info">
        <appender-ref ref="SYS-USER"/>
    </logger>
	<!--交易成功日志-->
    <logger name="pay-access" level="info">
        <appender-ref ref="PAY-ACCESS-LOG"/>
    </logger>
    <!--交易失败日志-->
    <logger name="pay-error" level="info">
        <appender-ref ref="PAY-ERROR-LOG"/>
    </logger>
    <!--退款成功日志-->
    <logger name="refund-access" level="info">
        <appender-ref ref="REFUND-ACCESS-LOG"/>
    </logger>
    <!--退款失败日志-->
    <logger name="refund-error" level="info">
        <appender-ref ref="REFUND-ERROR-LOG"/>
    </logger>
    <!-- cache -->
    <logger name="com.uleehub.webservice.soap.pay" level="info">
            <appender-ref ref="STDOUT"/>
    </logger>

</configuration>



