<?xml version="1.0" encoding="UTF-8"?>
#set($cols = "")
#set($querySuffix = "Id")
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="${entityName}">
	<resultMap id="${entityName.toLowerCase()}Result" type="${entityName}">
	#foreach( $col in $list )
	#if(${col.prikey}==false)
	<result property="${col.columnName}"  column="${col.dbColumnName}"	javaType="${col.javaType}"/>
	#else
	<id property="id" column="${col.dbColumnName}" javaType="${col.javaType}"/>
	#end
	#end
	</resultMap>
	
	
	<sql id="query${entityName}Sql">
      	<where>
      	<![CDATA[
			1=1
		 ]]>
		#foreach( $col in $list )
		#if(${col.fetch}==false)
		<if test="${col.columnName}!=null">
			<![CDATA[
				and ${tableAliasName}.${col.dbColumnName}=#{${col.columnName}}
			]]>
		</if>
		#else
		<if test="${col.columnName}${querySuffix}!=null">
			<![CDATA[
			and ${tableAliasName}.${col.dbColumnName}=#{${col.columnName}${querySuffix}}
			]]>
		</if>
		#end
		#end
    	</where>
   </sql>
   
   
	<select id="findById" resultMap="${entityName.toLowerCase()}Result" parameterType="int">
		<![CDATA[
		SELECT
		*
		FROM ${tableName} WHERE id=#{id}}
		]]>
	</select>
	
	<select id="findPageList" resultMap="${entityName.toLowerCase()}Result" parameterType="Query${entityName}">
		<![CDATA[
			SELECT TOP ${pageSize} ${tableAliasName}.* FROM ${tables} ${tableAliasName}
    	]]>
    	<include refid="query${entityName}Sql"/>
    	<![CDATA[
		   and ${tableAliasName}.id not in (SELECT TOP ${endSize} ${tableAliasName}.ID FROM ${tables} ${tableAliasName}
		]]>
    	<include refid="query${entityName}Sql"/>
   		<![CDATA[
   			ORDER BY ${tableAliasName}.id DESC)ORDER BY ${tableAliasName}.id DESC
        ]]>
        
	</select>
	
	<select id="findCount" resultType="int" parameterType="Query${entityName}">
		<![CDATA[
        	SELECT COUNT(1) FROM ${tables}
    	]]>
    	<include refid="query${entityName}Sql"/>
	</select>
	
	<insert id="insert" parameterType="${entityName}">
		<![CDATA[
			INSERT INTO ${tableName}(
			#foreach( $col in $list )
			${col.dbColumnName},
			#end
			)VALUES(
		#foreach( $col in $list )
		#if(${col.fetch}==false)
		#{${col.columnName}},
		#else
		#{${col.columnName}.id},
		#end
		#set($cols = "$cols,${col.dbColumnName}")
		#end
			)
		]]>
		<selectKey resultType="int" keyProperty = "id">
	     	 SELECT LAST_INSERT_ID() AS ID
	    </selectKey>
	</insert>
	
	<update id="update" parameterType="${entityName}">
		<![CDATA[
			UPDATE ${tableName} SET
		#foreach( $col in $list )
		#if(${col.prikey}==false)
		#if(${col.fetch}==false)
		${col.dbColumnName}=#{${col.columnName}},
		#else
		${col.dbColumnName}=#{${col.columnName}.id},
		#end
		#end
		#end
		WHERE id=#{id}}
		]]>
	</update>
	
	<delete id="delete" parameterType="int">
		<![CDATA[
			DELETE FROM ${tableName} WHERE id=#{id}}
		]]>
	</delete>
</mapper>